/* eslint-disable max-len */

import { Environment } from './env-type';

export const env: Environment = {
    DEVICES: [
        // You can have as many devices as you want. Just register them in the IoT Hub portal
        {
            DEVICE_ID: '[DEVICE-ID-FROM-IOT-HUB]',
            DEVICE_KEY: '[DEVICE-SYMETRIC-KEY-FROM-IOT-HUB]',
            IOT_HUB_NAME: '[IOT-HUB-NAME]',
            FACTORY_AREA: '[SENSOR-LOCATION-WITHIN-FACTORY]',
            MACHINE_TYPE: '[TYPE-OF-MACHINE-WHERE-THE-SENSOR-IS-ATTACHED]',
            VARIABILITY_FACTOR: 0,
            OVERRIDE_SENSOR_CONFIG: [ ],
        },
    ],
    MEAS_INPUT_DEFAULTS: {
        DEFAULT_PERIOD_MS: 1000,
        DEFAULT_MAX_SAMPLES: 1,
        DEFAULT_MAX_BYTES: 255 * 1024,
    },
    SENSORS_CONFIG_DEFAULTS: [
        {
            TYPE: 'temperature',
            STATE: {
                STABLE: {
                    MEAN_VALUE: 60,
                    STEP_MEAN_FACTOR: 0.2,
                    STEP_STD: 5,
                    MAX_STEP: 8,
                    STATE_DURATION_MEAN: 40,
                    STATE_DURATION_STD: 6,
                },
                ALARM: {
                    MEAN_VALUE: 100,
                    STEP_MEAN_FACTOR: 0.2,
                    STEP_STD: 5,
                    MAX_STEP: 8,
                    STATE_DURATION_MEAN: 20,
                    STATE_DURATION_STD: 3,
                },
            },
        },
        {
            TYPE: 'power',
            STATE: {
                STABLE: {
                    MEAN_VALUE: 60,
                    STEP_MEAN_FACTOR: 0.2,
                    STEP_STD: 5,
                    MAX_STEP: 8,
                    STATE_DURATION_MEAN: 70,
                    STATE_DURATION_STD: 10,
                },
                ALARM: {
                    MEAN_VALUE: 20,
                    STEP_MEAN_FACTOR: 0.2,
                    STEP_STD: 5,
                    MAX_STEP: 8,
                    STATE_DURATION_MEAN: 30,
                    STATE_DURATION_STD: 5,
                },
            },
        },
    ],
};
